@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700'); 
body {
	font-family: "Source Code Pro", monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2a3546;
	min-height: 100vh;
}
#indicator {
	border: 2px solid #070707;
	border-radius: 50%;
	height: 32px;
	margin: 0 auto 24px;
	overflow: hidden;
	position: relative;
	width: 32px;
}
#indicator.locked svg.unlocked {
	transform: translate(-50%, 50%);
}
#indicator.unlocked svg.locked {
	transform: translate(-50%, -100%);
}
#indicator.unlocked svg.unlocked {
	transform: translate(-50%, -50%);
}
#indicator svg {
	padding: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.25s ease;
	width: 16px;
}
#indicator svg.locked {
	background: #f56666;
}
#indicator svg.unlocked {
	background: #50ef87;
}
#combination {
	border: 2px solid #070707;
	border-radius: 4px;
	display: flex;
	padding: 0 4px;
}
.wheel {
	font-size: 24px;
	padding: 0 4px;
	text-align: center;
}
.increment, .decrement {
	background: #1d242f;
	border: 2px solid #070707;
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	position: relative;
	transition: border-color 0.1s ease;
	width: 24px;
}
.increment:active, .decrement:active {
	border-color: #fff;
}
.increment.click, .decrement.click {
	border-color: #fff;
	transition: border-color 0s ease;
}
.increment img, .decrement img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
}
.increment {
	margin-top: -14px;
}
.decrement {
	margin-bottom: -14px;
}
.digit {
	-moz-appearance: textfield;
	background: #1d242f;
	border: 2px solid #070707;
	border-radius: 24px;
	caret-color: #1d242f;
	color: #fff;
	cursor: pointer;
	margin: 8px 0;
	outline: none;
	padding: 8px 0;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	transition: border-color 0.1s ease;
	width: 24px;
}
.digit:focus {
	border-color: #fff;
}
.digit::-webkit-inner-spin-button, .digit::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.digit::-moz-selection {
	background: transparent;
}
.digit::selection {
	background: transparent;
}